<h1><%= @billboard.name %></h1>

<%= link_to 'View Songs', billboard_path(@billboard) %>

<%= link_to 'Add Song', new_artist_song_path(@billboard) %>

<%= link_to 'Delete Billboard', @billboard, method: :delete %>
