<h1><%= @billboard.name %></h1>

<%= link_to 'view Songs', billboard_path(@billboard) %>

<%= link_to 'edit sub', edit_billboard_path(@billboard) %>

<%= link_to 'delete sub', @billboard, method: :delete %>
